.main {
  background-color: var(--primaryBlue900);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: white;
  border-radius: 10px;
  display: flex;
  width: 65vw;
  height: 70vh;
}

.form_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50vw;
}

.img_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50vw;
}

.img_container img{
  margin-bottom: 70px;
  height: auto;
  width: 70%;
}

@media (max-width: 1000px){

  .container{
    width: 85vw;
    height: 80vh;
  }

  .form_container{
    width: 100vw;
  }
  .img_container{
    display: none;
  }
}